In [1]:
import pandas as pd
import numpy as np
breeds = pd.read_csv('breed_labels.csv')
colors = pd.read_csv('color_labels.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sub = pd.read_csv('sample_submission.csv')
states = pd.read_csv('state_labels.csv')

# train['dataset_type'] = 'train'
# test['dataset_type'] = 'test'

In [3]:
train.head(3)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Health,Quantity,Fee,State,RescuerID,VideoAmt,Description,PetID,PhotoAmt,AdoptionSpeed
0,2,Nibble,3,299,0,1,1,7,0,1,...,1,1,100,41326,8480853f516546f6cf33aa88cd76c379,0,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,1.0,2
1,2,No Name Yet,1,265,0,1,1,2,0,2,...,1,1,0,41401,3082c7125d8fb66f7dd4bff4192c8b14,0,I just found it alone yesterday near my apartm...,6296e909a,2.0,0
2,1,Brisco,1,307,0,1,2,7,0,2,...,1,1,0,41326,fa90fa5b1ee11c86938398b60abc32cb,0,Their pregnant mother was dumped by her irresp...,3422e4906,7.0,3

In [4]:
import csv
 
    

with open('features.csv', 'w') as csvfile:
    filewriter = csv.writer(csvfile, delimiter=',',
                            quotechar='|', quoting=csv.QUOTE_MINIMAL)
    filewriter.writerow(["AdoptionSpeed","MaturitySize","FurLength","Dewormed","Vaccinated","Sterilized","Health","Fee","Age"])
    for pet in range(len(train)):
        filewriter.writerow([train['AdoptionSpeed'][pet],train['MaturitySize'][pet],train['FurLength'][pet],train['Dewormed'][pet],train['Vaccinated'][pet],train['Sterilized'][pet],train['Health'][pet],train['Fee'][pet],train['Age'][pet]])

0         3
1         1
2         1
3         4
4         1
5         3
6        12
7         0
8         2
9        12
10        2
11        3
12        2
13        2
14        3
15       78
16        6
17        8
18        2
19        1
20       12
21        3
22        0
23       10
24        3
25       36
26        2
27        1
28       14
29        1
         ..
14963     6
14964    36
14965     2
14966     1
14967    24
14968     2
14969    10
14970     2
14971     5
14972     2
14973     2
14974     2
14975    24
14976    84
14977     3
14978     4
14979     6
14980    24
14981     8
14982     2
14983     3
14984    60
14985    24
14986     1
14987     6
14988     2
14989    60
14990     2
14991     9
14992     1
Name: Age, Length: 14993, dtype: int64